{% extends 'base.html.twig' %}

{% block title %}Edit Hospital{% endblock %}

{% block body %}
    <div class="container container-margin-top">
        <h1>Edit Hospital</h1>

        {{ include('hospital/_form.html.twig', {'button_label': 'Update'}) }}

        <br/>
        <a href="{{ path('hospital_index') }}" class="btn btn-secondary">back to list</a>

        {{ include('hospital/_delete_form.html.twig') }}
    </div>
{% endblock %}
