{% extends 'base.html.twig' %}

{% block title %}New Hospital{% endblock %}

{% block body %}
    <div class="container container-margin-top">
        <h1>Create new Hospital</h1>

        {{ include('hospital/_form.html.twig') }}

        <br/><a href="{{ path('hospital_index') }}" class="btn btn-primary">back to list</a>
    </div>
{% endblock %}
